In [1]:
import numpy as np
import pandas as pd

myIndex = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
myIndex = pd.MultiIndex.from_tuples(myIndex)

dataFrame = pd.DataFrame(np.random.randn(6,2), index=myIndex, columns=['Res1', 'Res2'])

In [2]:
dataFrame

             Res1      Res2
Slot1 1  0.424624 -0.805098
      2 -0.224010  0.023429
      3 -1.027398  0.820850
Slot2 1 -0.803211  0.902903
      2  1.018705  1.171370
      3 -0.759323  0.554879

In [10]:
dataFrame.loc['Slot1']

         Res1      Res2
var
1    0.424624 -0.805098
2   -0.224010  0.023429
3   -1.027398  0.820850

In [11]:
dataFrame.loc['Slot1'].iloc[2]

Res1   -1.027398
Res2    0.820850
Name: 3, dtype: float64

In [12]:
dataFrame.index.names = ['slot','var']

In [13]:
dataFrame

               Res1      Res2
slot  var
Slot1 1    0.424624 -0.805098
      2   -0.224010  0.023429
      3   -1.027398  0.820850
Slot2 1   -0.803211  0.902903
      2    1.018705  1.171370
      3   -0.759323  0.554879

In [14]:
dataFrame.xs('Slot1')

         Res1      Res2
var
1    0.424624 -0.805098
2   -0.224010  0.023429
3   -1.027398  0.820850

In [15]:
dataFrame.xs('Slot1').xs(2)

Res1   -0.224010
Res2    0.023429
Name: 2, dtype: float64

In [16]:
dataFrame.xs(2,level='var')

           Res1      Res2
slot
Slot1 -0.224010  0.023429
Slot2  1.018705  1.171370