In [7]:
import numpy as np
import pandas as pd

In [8]:
pd.Series(data = [1,2,3,4], index = ['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
myD = {'a' : 2, 'b' : 3,'c' :4,'d' :5}

In [10]:
myD

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

In [11]:
pd.Series(myD)

a    2
b    3
c    4
d    5
dtype: int64

In [12]:
mySeriesOne = pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [13]:
mySeriesOne

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
mySeriesTwo = pd.Series([1,2,7,4,2],['a','b','c','f','e'])

In [15]:
mySeriesOne + mySeriesTwo

a     2.0
b     4.0
c    10.0
d     NaN
e     7.0
f     NaN
dtype: float64

In [16]:
mySeriesOne['c']

3

In [17]:
mySeriesTwo - mySeriesOne

a    0.0
b    0.0
c    4.0
d    NaN
e   -3.0
f    NaN
dtype: float64

In [18]:
from numpy.random import randn

In [19]:
myData = randn(3,4)

In [20]:
myData

array([[-1.64490544, -1.27837495,  0.28864551, -1.24636136],
       [ 0.59335225,  2.00355223,  0.24187099,  0.83040973],
       [ 1.18084881,  0.49837507, -0.18529524,  0.23216601]])

In [21]:
myDataFrame = pd.DataFrame(myData,['R1','R2','R3'],['C1','C2','C3','C4'])

In [22]:
myDataFrame

          C1        C2        C3        C4
R1 -1.644905 -1.278375  0.288646 -1.246361
R2  0.593352  2.003552  0.241871  0.830410
R3  1.180849  0.498375 -0.185295  0.232166

In [23]:
myDataFrame['C1']

R1   -1.644905
R2    0.593352
R3    1.180849
Name: C1, dtype: float64

In [24]:
myDataFrame['C5'] = myDataFrame['C1'] * myDataFrame['C3']

In [25]:
myDataFrame

          C1        C2        C3        C4        C5
R1 -1.644905 -1.278375  0.288646 -1.246361 -0.474795
R2  0.593352  2.003552  0.241871  0.830410  0.143515
R3  1.180849  0.498375 -0.185295  0.232166 -0.218806

In [26]:
myDataFrame.drop('C2',axis = 1,inplace = True)